{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}RateMyProfessor - Agregar{% endblock %}

{% block content %}
	<div class="container">
		Add professor
		<form method='POST' action=''>
			{% csrf_token %}
			<!-- {{ addReviewForm }} -->
			{% for field in addReviewForm %}
				{% if field.name == 'rating' %}
					{{field.name}}
					<p class="range-field">
						<input type="range" id="rating" min="1" max="5" name="rating"/>
					</p>
				{% else %}
					{{field.name}}
					{{field}}
				{% endif %}
			{% endfor %}
			<input type="submit" value="Submit">
		</form>
	</div>
{% endblock %}

{% block readyScripts %}
	$('select').material_select();
{% endblock %}