{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}RateMyProfessor - Resultados de profesores{% endblock %}

{% block content %}
	<div class="container">
		Resultados de cursos
		<div class="row">
			{% for course in courses %}
				<div class="col s5 green lighten-4">
					<a href="course/{{ course.id }}">
						<div class="icon-block">
							<h1 class="center green-text"><i class="material-icons">class</i></h1>
							<h5 class="center">{{ course.name }}</h5>
						</div>
					</a>
					<br>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block readyScripts %}
{% endblock %}
