{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}RateMyProfessor - Mi perfil{% endblock %}

{% block content %}
	<div class='container'>
		<div class='row'>
			<div class='col m6'>
				<div class="card">
					<div class="card-image">
						<img src="{% static 'tempImages/avatar.png' %}">
						<span class="card-title">{{ firstname }} {{ lastname }} - {{ username }}</span>
					</div>
				</div>
			</div>

			<div class='col m6'>
				<br>
				<div>
					Carrera: {{ career }}
				</div>
				<br>
				<div>
					Estoy interesado en: <br><br>
					<div class="chip">Jane Doe</div>
					<div class="chip">Jackie Chan</div>
					<div class="chip">Lee Sin</div>
					<div class="chip">Hitmon</div>
				</div>
			</div>
		</div>

		<div class="fixed-action-btn" style="bottom: 130px; right: 24px;">
			<a class="btn-floating btn-large red modal-trigger green darken-4" data-target="editProfileModal" id='editProfileModalTrigger'>
				<i class="large material-icons">create</i>
			</a>
		</div>

		<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
			<a class="btn-floating btn-large red modal-trigger green darken-4" data-target="addReviewModal" id='addReviewModalTrigger'>
				<i class="large material-icons">add</i>
			</a>
		</div>


		<!-- Edit profile modal structure -->
		<div id="editProfileModal" class="modal bottom-sheet">
			<div class="modal-content">
				<h4>Editar perfil</h4>
				<p>Formulario de edicion de perfil</p>
				<form method='POST' action=''>
					{% csrf_token %}
					{{ editProfileForm }}
					<input type="submit" value="Submit">
				</form>
			</div>
			<div class="modal-footer">
				<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
			</div>
		</div>

		<!-- Add review modal structure -->
		<div id="addReviewModal" class="modal bottom-sheet">
			<div class="modal-content">
				<h4>Agregar reseña</h4>
				<p>Formulario de reseña</p>
				<form method='POST' action='/webapp/addReviewPage/'>
					{% csrf_token %}
					{{ addReviewForm }}
					<input type="submit" value="Submit">
				</form>
			</div>
			<div class="modal-footer">
				<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
			</div>
		</div>

		Reviews:

		<div class='row'>
			{% for review in reviewsAttached %}
				<div class='col s12'>
					<div class="card">
						<div class="card-content" style="background-color: 
										{% if review.commentCategory > 0 %}
											green
										{% elif review.commentCategory < 0 %}
											red
										{% else %}
											gray
										{% endif %}">
							<div class='row'>
								<div class="col m3">
									<div>
										{{ courseData.name }}
									</div>
									<div>
										{{ review.idProfessor }}
									</div>
								</div>

								<div class="col m3">
									{% for i in review.rating %}
										<i class="small material-icons">star</i>
									{% endfor %}
								</div>

								<div class="col m6">
									{{ review.comment }}
								</div>
							</div>

							<div class="row">
								<div class="col s6">
									<div class="left-align">
										<a href="/webapp/likeReview/{{ review.pk }}" class="waves-effect waves-light btn-large {% if review.userAlreadyLiked %}disabled{% endif %}"><i class="material-icons left">thumb_up</i>{{ review.likes }}</a>
										<a href="/webapp/dislikeReview/{{ review.pk }}" class="waves-effect waves-light btn-large {% if review.userAlreadyLiked %}disabled{% endif %}"><i class="material-icons left">thumb_down</i>{{ review.dislikes }}</a>
										
									</div>
								</div>

								<div class="col s6">
									<div class="right-align">
										User:
										{{ review.idStudent }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block readyScripts %}
		$('.modal').modal();
		$('select').material_select();
{% endblock %}